head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
	meta(name="format-detection" content="telephone=no")
	//- meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="ie=edge") 
		//- IE использовать самый новый движок для рендера

	meta(name="cmsmagazine" content="c45d4085c1835d45ae4ee5d8a8b6e1f9")
	meta(name="ktoprodvinul" content="097af53cc9c7abd7")

	title Заголовок страницы
	
	link(rel="icon" type="image/png" href="./favicon.png") 
		//- 32 x 32
	link(rel="apple-touch-icon" href="/custom-icon.png")
		//- 200 x 200 for retina display
	link(rel='stylesheet', href='./css/libs.min.css')
	link(rel='stylesheet', href='./css/style.css')
