include mixins/_breadcrumbs.pug

doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/header.pug
		main.main
			.container
				+breadcrumbs(['Статьи', 'Чем отличается юридические услуги и юридическая помощь'])
				
				.article-page
					.article-page__promo
						.article-page__promo-pict(style="background-image: url('./assets/uploads/article-page-promo.jpg')")
						h1.h1._white.article-page__title Чем отличается юридические услуги и юридическая помощь
						.article-page__publication
							span.article-page__publication-date 19/03/2018
					.article-page__content.text-block
						p.
							Юридическая компания Астрея предоставляет юридические услуги предпринимателям, организациям и гражданам. Команда опытных адвокатов и юристов готова решить самые сложные правовые вопросы и урегулировать любые конфликты.

						p.
							В штате работают только высококлассные специалисты, обладающие блестящей деловой репутацией. Клиентам предоставляются услуги юридической фирмы по всем направлениям. Адвокаты и юристы нашей компании оказывают в соответствии со своей компетенцией. Каждый из наших сотрудников специализируется на конкретной отрасли законодательства, поэтому клиентам гарантируется высокий уровень обслуживания даже по специфическим вопросам.

						
						blockquote Юридическая компания Астрея предоставляет юридические услуги предпринимателям, организациям и гражданам. 

						p В штате работают только высококлассные специалисты, обладающие блестящей деловой репутацией. Клиентам предоставляются услуги юридической фирмы по всем направлениям. Адвокаты и юристы нашей компании оказывают в соответствии со своей компетенцией. Каждый из наших сотрудников специализируется на конкретной отрасли законодательства, поэтому клиентам гарантируется 
							strong высокий уровень обслуживания даже по специфическим вопросам.
						

						img(src="./assets/uploads/text-block-img-1.jpg", alt="")/

						p.
							Юридическая компания Астрея предоставляет юридические услуги предпринимателям, организациям и гражданам. Команда опытных адвокатов и юристов готова решить самые сложные правовые вопросы и урегулировать любые конфликты.

						p.
							В штате работают только высококлассные специалисты, обладающие блестящей деловой репутацией. Клиентам предоставляются услуги юридической фирмы по всем направлениям. Адвокаты и юристы нашей компании оказывают в соответствии со своей компетенцией. Каждый из наших сотрудников специализируется на конкретной отрасли законодательства, поэтому клиентам гарантируется высокий уровень обслуживания даже по специфическим вопросам.


				include includes/feedback-full.pug
		include includes/footer.pug
		include includes/scripts.pug