include mixins/_breadcrumbs.pug

doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/header.pug
		main.main
			.container
				+breadcrumbs(['FAQ'], 'high')

				.faq
					.faq__promo
						.faq__promo-pict(style="background-image: url('./assets/img/faq-promo-pict.jpg');")
						.faq__promo-content
							.faq__promo-inner
								h1.h1.faq__promo-title FAQ
								.faq__promo-subtitle Часто задаваемые вопросы


					.faq-list
						.faq-list__item
							.faq-list__item-toggle._open Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие.
						.faq-list__item
							.faq-list__item-toggle Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие. 
						.faq-list__item
							.faq-list__item-toggle Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие.
						.faq-list__item
							.faq-list__item-toggle Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие. 
						.faq-list__item
							.faq-list__item-toggle Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие.
						.faq-list__item
							.faq-list__item-toggle Слова на букву "ЫФ" в Большой Советской Энциклопедии
								.faq-list__item-toggle-icon
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.6 25.3"><path d="M0,3.5,21.8,25.3,43.6,3.5,40.1,0,21.8,18.2,3.5,0Z"/></svg>
							.faq-list__item-desc Известен факт того, что производители автомобилей зарабатывают не на продаже новых машин, а именно на поставках запчастей и комплектующих. Не будем называть, автомашины каких марок особенно нуждаются в запасных деталях, но любой автомобиль рано или поздно подвергается ремонту. Это может быть и обычный износ после эксплуатации, и даже дорожно-транспортное происшествие. 

				

		include includes/footer.pug
		include includes/scripts.pug