include mixins/_breadcrumbs.pug

doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/header.pug
		main.main
			.container
				+breadcrumbs(['Новости'], 'high')

				h1.h1 Новости
				.news
					.news-list
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news2.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news2.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>
						.news-list__item
							.news-list__border
							.news-list__date 19/03/2018
							.news-list__image-container
								img.news-list__image(src="./assets/uploads/news2.jpg" alt="")/
							.news-list__content
								a.news-list__title(href="./news-page.html") Чем отличаются юридические услуги и юридическая помощь?
								p.news-list__desc Услуги, которые требуются для людей разнообразны и многогранны. Определенные операции, нацеленные на осведомление, а иногда и знакомство с юриспруденцией  называют юридические услуги, которые представляют специалисты в правовой области ...
							a.news-list__btn.btn.btn__arrow._long(href="./news-page.html") Читать далее
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.25 18.33"> <polygon points="43 10.1 44.25 9.17 43 8.23 43 8.17 42.92 8.17 32.02 0 30.82 1.6 39.58 8.17 0 8.17 0 10.17 39.58 10.17 30.82 16.73 32.02 18.33 42.91 10.17 43 10.17 43 10.1" /> </svg>

					.pagination._center
						a.pagination__prev._inactive(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.64 17.75"><path class="cls-1" d="M12.25,17.75,0,8.88,12.24,0,14,2.43,7.18,7.38H23.64v3H7.18L14,15.32Z"/></svg>

						ul.pagination-list
							li.pagination-list__item
								a.pagination-list__link._active(href="#") 1
							li.pagination-list__item
								a.pagination-list__link(href="#") ... 
							li.pagination-list__item
								a.pagination-list__link(href="#") 3
							li.pagination-list__item
								a.pagination-list__link(href="#") 4
							li.pagination-list__item
								a.pagination-list__link(href="#") 5
							li.pagination-list__item
								a.pagination-list__link(href="#") ...
							li.pagination-list__item
								a.pagination-list__link(href="#") 17
						a.pagination__next(href="#")
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.64 17.75"><path class="cls-1" d="M11.39,0,23.64,8.87,11.4,17.75,9.64,15.32l6.82-5H0v-3H16.46L9.63,2.43Z"/></svg>
				
				
		include includes/footer.pug
		include includes/scripts.pug