include mixins/_breadcrumbs.pug

doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/header.pug
		main.main
			.container
				+breadcrumbs(['Новости', 'Чем отличются юридические улсуги от юридической помощи'])

				.news-page
					.news-page__promo
						.news-page__promo-wrap
							.news-page__promo-pict
								img(src="./assets/uploads/news-page-promo.jpg", alt="")/
							.news-page__promo-info
								.news-page__publication-date 19/03/2018
								h1.h1.news-page__title Чем отличаются юридические услуги и юридическая помощь
						.news-page__promo-desc.text-block
							p.
								Юридическая компания Астрея предоставляет юридические услуги предпринимателям, организациям и гражданам. Команда опытных адвокатов и юристов готова решить самые сложные правовые вопросы и урегулировать любые конфликты.

							p.
								В штате работают только высококлассные специалисты, обладающие блестящей деловой репутацией. Клиентам предоставляются услуги юридической фирмы по всем направлениям. Адвокаты и юристы нашей компании оказывают в соответствии со своей компетенцией. Каждый из наших сотрудников специализируется на конкретной отрасли законодательства, поэтому клиентам гарантируется высокий уровень обслуживания даже по специфическим вопросам.
					.news-page__content
						.news-page__content-pict
							img(src="./assets/uploads/news-page-promo.jpg", alt="")/
						.text-block
							p.
								Юридическая компания Астрея предоставляет юридические услуги предпринимателям, организациям и гражданам. Команда опытных адвокатов и юристов готова решить самые сложные правовые вопросы и урегулировать любые конфликты.

							p.
								В штате работают только высококлассные специалисты, обладающие блестящей деловой репутацией. Клиентам предоставляются услуги юридической фирмы по всем направлениям. Адвокаты и юристы нашей компании оказывают в соответствии со своей компетенцией. Каждый из наших сотрудников специализируется на конкретной отрасли законодательства, поэтому клиентам гарантируется высокий уровень обслуживания даже по специфическим вопросам.
				
				include includes/feedback-full.pug
		include includes/footer.pug
		include includes/scripts.pug