mixin breadcrumbs(items, className)
	div(class=((className) ? "breadcrumbs _high" : "breadcrumbs"))
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="/") Главная
			for item, index in items
				if (index === (items.length - 1))
					li.breadcrumbs__item=item
				else
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#")=item
