.path-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	&__item {
		position: relative;
		font: 14px/22px var(--UbReg);
		color: var(--text-light);

		&:not(:last-of-type) {
			margin-right: 10px;
			
			&::after {
				content: '/';
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	&__link {
		display: inline-block;
		padding-right: 15px;
		transition: 300ms;

		&:hover {
			color: var(--text-gold);
		}

		&:active {
			color: var(--text-gold-dark);
		}
	}
}