.submenu {
	position: fixed;
	top: 92px;
	right: 0;
	transform: translateX(100%);
	width: 100%;
	height: calc(100vh - 92px);
	background: white;
	transition: transform 360ms, background 800ms;
	z-index: 99;

	@media (--laptop) {
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		right: auto;
		transform: none;
		display: block;
		height: auto;
		opacity: 0;
		visibility: hidden;
		transition: all 400ms;
	}

	&._open {
		padding: 80px 0 95px;
		opacity: 1;
		visibility: visible;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .22);
	}

	&._js-show {
		transform: translateX(0);
		background: #f5f5f5;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex-wrap: wrap;
		padding: 20px 0;

		@media (--laptop) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0;
		}
	}

	&__col {
		width: 100%;

		@media (--laptop) {
			width: 24%;
			flex-grow: 1;
			padding: 0 5%;
			border-right: 1px solid var(--border);

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
				border-right: none;
			}

			&._wide {
				flex: 3 1 auto;
			}

			&._small {
				flex: 0 1 auto;
			}
		}
	}

	&__col-title {
		margin-left: auto;
		text-align: right;
		font: 18px var(--SpSB);
		line-height: 56px;
		color: var(--text);

		@media (--laptop) {
			margin-bottom: 35px;
			margin-left: 0;
			text-align: left;
			font-family: var(--SpB);
			color: var(--text-gold);
			line-height: 1.2;
		}

		@media (--desktop) {
			font-size: 20px;
		}
	}

	&__elements {
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		width: 100%;
		height: 100%;
		padding: 20px 15px;
		transition: transform 360ms, background 300ms;
		overflow: auto;
		text-align: right;
		z-index: 99;

		@media (--laptop) {
			position: static;
			transform: none;
			width: auto;
			height: auto;
			padding: 0;
			text-align: left;
		}

		&._js-show {
			transform: translateX(0);
			background: #f5f5f5;
		}
	}

	&__elements-title {
		margin-bottom: 15px;
		text-transform: uppercase;
		font: 20px/24px var(--SpB);
		color: var(--gold);

		@media (--laptop) {
			display: none;
		}
	}

	&__list {
		list-style: none;
		
		@media (--laptop) {
			
			&._column-count {
				column-count: 2;
				column-gap: 4%;
			}
		}
	}

	&__list-link {
		display: block;
		max-width: 80%;
		margin-left: auto;
		padding: 12px 0;
		text-align: right;
		font: 16px/22px var(--UbReg);
		color: var(--text);
		transition: 400ms;

		@media (--laptop) {
			max-width: none;
			margin-left: 0;
			padding-top: 6px;
			padding-bottom: 6px;
			font-size: 14px;
			text-align: left;
		}

		@media (--desktop) {
			font-size: 16px;
			line-height: 26px;
		}

		&._popular {
			font-family: var(--UbB);
		}

		&:hover,
		&:focus {
			color: var(--text-gold);
		}

		&:active {
			color: var(--text-gold-dark);
		}
	}
}